@model Data.Products

@{
    ViewBag.Title = "GetProducts";
}

<h2>GetProducts</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCatalog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCatalog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceDistributor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceDistributor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
